.list {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
